extends layout

block content
	main.container-fluid
		h1 Calendar
		p Subscription link: 
			a(href="/calendar.ics") inf133-fa18.depstein.net/calendar.ics
		p
			tbd All syllabus content is subject to change, particularly prior to the start of the quarter.
		each week in calendar
			.row.row-eq-height
				.col-1
				each day in week
					.col-2.day
						div= day.date_str
						each event in day.events
							div(class='event ' + event.type)
								if event.type == "lecture" || event.type == "discussion"
									if event.link
										div.title
											a(href=event.link)=event.title
									else
										div.title= event.title
									div= event.time_str + ' | ' + event.location
								else if event.type == "officehours_daniel"
									div.title= event.label
									div= event.time_str + ' | ' + event.location
								else if event.type == "holiday" || event.type == "absence"
									div.title= event.title
								else if event.type == "assignment"
									if event.link
										div.title
											a(href=event.link)= event.title + ' Due'
									else
										div.title= event.title + ' Due'
									div= event.name
								else if event.type == "quiz"
									div.title= event.title
									div= event.name
				.col-1