extends layout

block content
	main.container-fluid
		h1 Calendar
		p Subscription link: 
			a(href="/calendar.ics") inf133-fa18.depstein.net/calendar.ics
		p
			tbd All deadlines are subject to change, particularly prior to the start of the quarter.
		each week in calendar
			.row.row-eq-height
				each day in week
					div(class='day' + (day.weekend ? ' col' : ' col-2') + (day.today ? ' today' : ''))
						div= day.date_str
						each event in day.events
							div(class='event ' + event.type)
								if event.type == "lecture" || event.type == "discussion"
									if event.link
										div.title
											a(href=event.link)=event.title
									else
										div.title= event.title
									div= event.time_str + ' | ' + event.location
									if event.recording
										a(href=event.recording)="lecture recording"
								else if event.type == "officehours_daniel" || event.type == "officehours_jamshir" || event.type == "officehours_simion"
									div.title= event.label
									div= event.time_str + ' | ' + event.location
								else if event.type == "holiday" || event.type == "absence"
									div.title= event.title
								else if event.type == "assignment"
									if event.link
										div.title
											a(href=event.link)= event.title + ' Due'
									else
										div.title= event.title + ' Due'
									div= event.name
								else if event.type == "quiz"
									div.title= event.title
									div= event.name